
   body {
    text-align: center;
    background-color: white;
    padding: 25px;
    max-width:480px;
    border-radius: 12px;
   box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
   display:flex;
  
  } 
    
    .confirmacao {
    text-align: center;
    background-color: white;
    padding: 25px;
    max-width: 480px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}





         button {
    color: white;
    background-color: #0F172A;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
     margin-top: 15px;
  }

  @media (max-width: 768px) {

    .confirmacao {
        width: 85%;
        max-width: 400px;
        padding: 20px;
    }

    .confirmacao h1 {
        font-size: 24px;
    }

    .confirmacao p {
        font-size: 15px;
    }

    .confirmacao button,
    .confirmacao a {
        width: 100%;
    }

}